[submodule "sol2"]
	path = extern/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "utfcpp"]
	path = extern/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/observable_unique_ptr"]
	path = extern/observable_unique_ptr
	url = https://github.com/cschreib/observable_unique_ptr.git
[submodule "extern/pugixml"]
	path = extern/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "extern/rapidyaml"]
	path = extern/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "extern/magic_enum"]
	path = extern/magic_enum
	url = https://github.com/Neargye/magic_enum.git
