[submodule "sol2"]
	path = sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "utfcpp"]
	path = utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
