[submodule "sol2"]
	path = extern/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "utfcpp"]
	path = extern/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
