// lxgui - Lua and XML Graphical User Interface
//                                    by Corentin Schreiber.
//
// This work is released under the MIT licence.

// Configure version number
#define LXGUI_VERSION_MAJOR ${LXGUI_VERSION_MAJOR}
#define LXGUI_VERSION_MINOR ${LXGUI_VERSION_MINOR}

// Configure lua verion
#cmakedefine LXGUI_LUA51
// Configure dependencies
#cmakedefine01 SOL_SAFE_NUMERICS
#cmakedefine01 SOL_PRINT_ERRORS
#cmakedefine01 FMT_HEADER_ONLY
// Configure OpenGL version
#cmakedefine LXGUI_OPENGL3
