// lxgui - Lua and XML Graphical User Interface
//                                    by Corentin Schreiber.
//
// This work is released under the MIT licence.

#ifndef LXGUI_CONFIG_HPP
#define LXGUI_CONFIG_HPP

// Configure version number
#define LXGUI_VERSION_MAJOR ${PROJECT_VERSION_MAJOR}
#define LXGUI_VERSION_MINOR ${PROJECT_VERSION_MINOR}

// Configure lua verion
#cmakedefine LXGUI_LUA51

// Configure dependencies
#cmakedefine01 SOL_ALL_SAFETIES_ON
#cmakedefine01 SOL_PRINT_ERRORS
#cmakedefine01 FMT_HEADER_ONLY

// Configure OpenGL version
#cmakedefine LXGUI_OPENGL3
#cmakedefine GL_SILENCE_DEPRECATION

// Configure platform
#cmakedefine LXGUI_COMPILER_EMSCRIPTEN
#cmakedefine LXGUI_COMPILER_MSVC
#cmakedefine LXGUI_COMPILER_GCC
#cmakedefine LXGUI_COMPILER_CLANG
#cmakedefine LXGUI_PLATFORM_WASM
#cmakedefine LXGUI_PLATFORM_LINUX
#cmakedefine LXGUI_PLATFORM_OSX
#cmakedefine LXGUI_PLATFORM_WINDOWS

// Configure parsers
#cmakedefine LXGUI_ENABLE_XML_PARSER
#cmakedefine LXGUI_ENABLE_YAML_PARSER

#endif
